/*    Estilos Generales     */  

body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: #f2f2f2; 
	font-size: 1em;
	line-height: 1.5em;
}
 
h1 {
	font-size: 2.3em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}
 
p {
	margin: 0 0 1.5em 0;
}
 
img.img {
	  /*  
	max-width: 100%;
	height: auto;
	 */  
 
	width: 208px;
	height: 58px;
}

img2.img2 {
	  /*  
	max-width: 100%;
	height: auto;
	 */  
 
	width: 130px;
	height: 145px;
}


/* Este es el tamaño de la imagen de inicio  */ 
img {
	  /*  
	max-width: 100%;
	height: auto;
	 */  
 
	width: 36em;
	height: 144px;
}

img2 {
	  /*  
	max-width: 100%;
	height: auto;
	 */  
 
	width: 36em;
	height: 80px;
}




/*    Estilos De Cabezera     */ 






#main-header {
	background: #333;
	color: white;
	height: 80px;
}	
	#main-header a {
		color: white;
	}
 
/*
 * Logo
 */
#logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}
	#logo-header:hover {
		color: #0b76a6;
	}
	
	#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 1.2em;
	}
	
	#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #999;
	}
	
 
/*
 * Navegación
 */
nav {
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	
		nav ul li {
			display: inline-block;
			line-height: 80px;
		}
			
			nav ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}
			
				nav ul li a:hover {
					background: #0b76a6;
				}











/*    Estilos De Contenido     */ 








#main-content {
	background: white;
	width: 90%;
	max-width: 800px;
	margin: 20px auto;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}
 
	#main-content header,
	#main-content .content {
		padding: 40px;
	}










/*    Estilos De Pie de Pagina     */ 









#main-footer {
	background: #333;
	color: white;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
}
	#main-footer p {
		margin: 0;
	}
	
	#main-footer a {
		color: white;
	}









/*    Fijando La Cabecera     */ 







#main-header {
	background: #333;
	color: white;
	height: 80px;
	
	width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: fixed; /* Hacemos que la cabecera tenga una posición fija */
}









/*    Relleno Superior    */ 






body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: #f2f2f2; 
	font-size: 1em;
	line-height: 1.5em;
	
	padding-top: 80px; /* Relleno superior igual a la altura de la cabecera*/
}




















#twitter_unad{
	

/*    Relleno Superior    */ 
	/*  display: inline-block;
	 */ 
	width: 17%;
	
        float: right;  
        margin-top: -104em
	
	}


#twitter_unad1{
	

/*    Relleno Superior    */ 
	/*  display: inline-block;
	 */ 
	width: 17%;
	
        float: left;  
        margin-top: -104em
	
	}





.boton_volver{
	

	margin-top: 50px;


	}



.subtitulo_1{
	color: #000000;

		font-weight: bold;
	
		font-size: 2em;
}


.subtitulo_1_centro{
	color: #000000;
	font-weight: bold;
	font-size: 2em;
	text-align: center;
}



.subtitulo_2{
	color: #000000;
	font-weight: bold;
	font-size: 1.5em;
}




.subtitulo_2_centro{
	color: #000000;
	font-weight: bold;
	font-size: 1.5em;
	text-align: center;
}


.parrafo_1{
	text-align: left;
	line-height: 25px;
	font-size: 1em;
	padding-top: 16px;
	padding-bottom: 0px;
}



.img_izquierda{
	float: left;
	margin: 15px;
}



.img_derecha{
	float: right;
	margin: 15px;
}



.lista_1{
	margin-left: 15px;
	line-height: 30px;
}



.referencias{
	font-size: larger;
	font-weight: bolder;
	padding-top: 80px;
	border-bottom: 1px dashed #666666;
}



.pie_pagina{
	text-align: center;
	line-height: 30px;
}


.black{
	color: #000000;
}


.white{
	color: #ffffff;
}


.red{
	color: #ff0000;
}


.green{
	color: #00ff00;
}


.blue{
	color: #0000ff;
}


.dark_red{
	color: #8b0000;
}


@media(max-width: 1800px){
}

@media(max-width: 800px){
	footer{
		background: #400000;
		margin-top: 0px;
	}
	

#menu ul li a{
		padding: 4px;
	}
	
#contenedor{
		width: 90%;
		max-width: 100%;
	}
	
#contenedor img{
		max-width: 100%;
		max-height: 100%;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
#contenedor img2{
		max-width: 100%;
		max-height: 100%;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	#twitter_unad{
		width: 100%;
	}
}



 










